﻿@{
    ViewBag.Title = "About";
}

<link href="~/Content/about_us.css" rel="stylesheet" />
<div id="about" class="row">
    <div class="box1">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="~/Content/Image/about.jpg" alt="about" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="container">
                <div class="title">
                    <span>
                        <label>អ្វីទៅជាវេបសាយ</label>
                        <label class="brand">Book Store?</label>
                    </span>
                </div>
                <div class="divider"></div>
                <div>
                    <p>ស្វែងរកសៀវភៅ​ដែលល្អឥតខ្ចោះ សម្រាប់​គោល​បំណង​របស់​អ្នក និង​រក​ឃើញ​អ្វី​ថ្មី​ដែល​អ្នក​ចាប់​អារម្មណ៍។</p>
                </div>
                <div>
                    <p>
                        ជាវេបសាយដែល​ត្រូវ​បាន​បង្កើត​ឡើង​​ ដើម្បី​ជា​មធ្យោបាយ​ងាយ​ស្រួល​សម្រាប់​ទាញ​យក សៀវភៅ​ទាក់​ទង​នឹង​បច្ចេកវិទ្យា​ នៅ​លើ​អ៊ីនធឺណិត​ដោយ​ឥតគិតថ្លៃ។
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about" class="row box">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="title">
                    <div>
                        <label>ក្រុមការងារ​បង្កើត​វេបសាយ</label>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="team">
                <div class="profile">
                    <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
                    <div><h3>រ៉ា​ និរាជ្យ</h3></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="team">
                <div class="profile">
                    <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
                    <div><h3>គីម សៀកលីវ</h3></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="team">
                <div class="profile">
                    <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
                    <div><h3>នី​ សុមិនា</h3></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="team">
                <div class="profile">
                    <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
                    <div><h3>លាង ពិសី</h3></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="team">
                <div class="profile">
                    <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
                    <div><h3>វ៉ាន់ ចំរើន</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

