﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/card1.css" rel="stylesheet" />
@model List<BookStoreProject.Models.tblBook>
    
<body style="background-color: rgb(244, 244, 244);">
    <h1>@ViewBag.Message</h1>
    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="col-md-2 col-xs-6 col-sm-4">       
                <div class="card">
                    <a href='@Url.Action("ViewBook", "Home",new { id = Model[i].Book_id})'>
                        <div class="overflow">
                            <img class="book-cover img-responsive" src="~/Content/Image/@Model[i].Book_cover1" alt="Book" />
                            <div class="overlay"></div>
                        </div>
                    </a>
                        <div class="container">
                            <a href='@Url.Action("ViewBook", "Home",new { id = Model[i].Book_id})'>
                                <p class="book-title">@Model[i].Book_title (@Model[i].Book_publish_year)</p>
                            </a>
                            <p class="book-author">@Model[i].Book_author</p>
                            <div class="card-divider"></div>
                            <div class="card-icon">
                                <span class="ic-like">
                                    <img src="~/Content/Icon/ic_like1.svg" alt="like" />
                                    <label class="number-like">@Model[i].Book_countview</label>
                                </span>
                                <span class="ic-view">
                                    <img src="~/Content/Icon/ic_view1.svg" alt="view" />
                                    <label class="number-view">@Model[i].Book_countview</label>
                                </span>
                                <span class="pull-right ic-download">
                                    <a href="~/Content/Book/@Model[i].Book_cover2">
                                        <img style="cursor:pointer" id="ic-download" src="~/Content/Icon/ic_download.svg" alt="download" />
                                    </a>
                                </span>
                            </div>
                    </div>
                    
                </div>
                
            </div>
        }

    </div>
</body>
