﻿
@{
    ViewBag.Title = "ViewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BookStoreProject.Models.MyViewModel
<link href="~/Content/viewbook.css" rel="stylesheet" />

<div id="view" class="row">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="~/Content/Image/@Model.Book.Book_cover1">
            <div class="box">
                <img src="~/Content/Image/@Model.Book.Book_cover1" alt="Alternate Text" />
                <div class="overlay"></div>

            </div>
        </a>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="container description">
            <h4 class="book-title">@Model.Book.Book_title</h4>
            <div class="divider"></div>
            <div>
                <span>
                    <label>អ្នកនិពន្វ</label>
                    <label class="detail">@Model.Book.Book_author</label>
                </span>
            </div>
            <div>
                <span>
                    <label>ប្រភេទ</label>
                    <label class="detail">@Model.Category.catName</label>
                </span>
            </div>
            <div>
                <span>
                    <label>បោះពុម្ភ</label>
                    <label class="detail">@Model.Book.Book_publish_year</label>
                </span>
            </div>
            <div>
                <span>
                    <label>ពណ៌នា</label>
                    <label class="detail">@Model.Book.Book_des</label>
                </span>
            </div>
            <div class="divider"></div>
            <div class="card-icon">
                <span class="ic-like">
                    <img src="~/Content/Icon/ic_like1.svg" alt="like" />
                    <label class="number-like">@Model.Book.Book_countview</label>
                </span>
                <span class="ic-view">
                    <img src="~/Content/Icon/ic_view1.svg" alt="view" />
                    <label class="number-view">@Model.Book.Book_countview</label>
                </span>
                <span class="pull-right ic-download">  
                    <a style="padding-top:7px" class="btn btn-primary" href="~/Content/Book/@Model.Book.Book_cover2">
                        <i><img src="~/Content/Icon/ic_download-white.svg" alt="download" /></i>Download
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>