﻿
@{
    ViewBag.Title = "BookCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<BookStoreProject.Models.tblCategory>
<link href="~/Content/book-category.css" rel="stylesheet" />
<div class="container">
    <div class="box1">
        <div class="box">
            <h3>បន្ថែមប្រភេទសៀវភៅ</h3>
            <div class="divider"></div>
            <form method="post" action="@Url.Action("AddCategory","Admin")">
                <input type="text" name="category_name" placeholder="Enter new category" />
                <button type="submit" class="btn-primary">Add</button>
            </form>
        </div>
    </div>
    <div class="box3"></div>
    <div class="box2">
        <div class="box">
            <h3>ប្រភេទសៀវភៅ</h3>
            <div class="divider"></div>
            <table>
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:60%">Category</th>
                    <th style="width:30%">Action</th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                        <tr>
                            <td style="text-align:center">@(i+1)</td>
                            <td style="padding-left: 8px">@Model[i].catName</td>
                            <td style="text-align: center; height: 32px; padding-left: 0;">
                                <span style="font-size: 0">
                                    <a href="@Url.Action("DeleteCategory", "Admin", new { id = Model[i].catId})" style="font-size: 0">
                                        <img src="~/Content/Icon/ic_delete.svg" alt="Alternate Text" style="background-color: red" />
                                    </a>
                                </span>
                            </td>
                        </tr>
                }


            </table>
        </div>
    </div>
</div>

