﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/dashboard.css" rel="stylesheet" />
<div id="dashboard" class="container">
    <div class="box1">
        <a href='@Url.Action("ViewBook","Admin")' style="text-decoration: none">
            <div class="box">
                <span>
                    <img src="~/Content/Icon/ic_book1.svg" alt="Alternate Text" />
                    <label>ចំនួនសៀវភៅសរុប</label>
                </span>
                <div class="divider"></div>
                <span>
                    <label class="number">@ViewBag.Number</label>
                    <label class="unit">ក្បាល</label>
                </span>
            </div>
        </a>
    </div>
    <div class="box3"></div>
    <div class="box2">
        <a href='@Url.Action("BookCategory","Admin")' style="text-decoration:none">
            <div class="box">
                <span>
                    <img src="~/Content/Icon/ic_cate1.svg" alt="Alternate Text" />
                    <label>ចំនួនប្រភេទសៀភៅ</label>
                </span>
                <div class="divider"></div>
                <span>
                    <label class="number">@ViewBag.Category</label>
                    <label class="unit">ប្រភេទ</label>
                </span>
            </div>
        </a>
    </div>
</div>

