﻿@{
    ViewBag.Title = "InsertBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model BookStoreProject.Models.MyViewModel
<link href="~/Content/insert-book.css" rel="stylesheet" />
<div id="in-book" class="row">
    <div class="col-md-12">
        <div class="box1">
            <h3>បន្ថែមសៀវភៅ</h3>
            <div class="divider"></div>
            <form method="post" action="@Url.Action("UpdateBook","Admin", new { id = Model.Book.Book_id })" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="khmer">ប្រភេទសៀវភៅ</label>
                    <br />
                    <select name="category">
                        @for (int j = 0; j < Model.Categories.Count(); j++)
                        {
                          <option @if (Model.Categories[j].catId == Model.Book.catId) { Write("selected"); } value=@Model.Categories[j].catId>@Model.Categories[j].catName</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label class="khmer">ចំណងជើង</label>
                    <br />
                    <input class="form-control" type="text" value="@if(Model.Book!=null) { Write(Model.Book.Book_title); }" name="title" placeholder="Enter book name" />
                </div>
                <div class="form-group">
                    <label class="khmer">អ្នកនិពន្ធ</label>
                    <br />
                    <input class="form-control" type="text" value="@if(Model.Book!=null) { Write(Model.Book.Book_author); }" name="author" placeholder="Enter author name" />
                </div>
                <div class="form-group">
                    <label class="khmer">ឆ្នាំបោះពុម្ភ</label>
                    <br />
                    <input class="form-control" type="number" value="@if(Model.Book!=null) { Write(Model.Book.Book_publish_year); }" name="year" placeholder="Enter author name" />
                </div>
                <div class="form-group">
                    <label class="khmer">រូបភាព</label>
                    <label for="image" class="icon">
                        <img src="~/Content/Icon/ic_upload_img.svg" alt="upload img" />
                    </label>
                    <input id="image" value="@if(Model.Book!=null) { Write("~/Content/Image/"+Model.Book.Book_cover1); }" class="file" type="file" name="image" />
                </div>
                <div class="form-group">
                    <label class="khmer">សៀវភៅ</label>
                    <label for="book"  class="icon">
                        <img src="~/Content/Icon/ic_upload_book.svg" alt="upload book" />
                    </label>
                    <input id="book" value="@if(Model.Book!=null) { Write("~/Content/Book/"+Model.Book.Book_cover2); }" class="file" type="file" name="book" />
                </div>
                <div class="form-group">
                    <label class="khmer">ពណ៌នា</label>
                    <br />
                    <textarea class="form-control" rows="3" name="description">@Model.Book.Book_des</textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>


