﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/index.css" rel="stylesheet" />
<div id="index" class="container">
    <h1>Admin page</h1>
</div>

