﻿@{
    ViewBag.Title = "InsertBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<BookStoreProject.Models.tblCategory>
<link href="~/Content/insert-book.css" rel="stylesheet" />
<div id="in-book" class="row">
    <div class="col-md-12">
        <div class="box1">
            <h3>បន្ថែមសៀវភៅ</h3>
            <div class="divider"></div>
            <form action="@Url.Action("AddBook","Admin")" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="khmer">ប្រភេទសៀវភៅ</label>
                    <br />
                    <select name="category">
                        @for (int j = 0; j <Model.Count();  j++)
                        {
                          <option value="@Model[j].catId">@Model[j].catName</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label class="khmer">ចំណងជើង</label>
                    <br />
                    <input class="form-control" type="text" name="title" placeholder="Enter book name"/>
                </div>
                <div class="form-group">
                    <label class="khmer">អ្នកនិពន្ធ</label>
                    <br />
                    <input class="form-control" type="text" name="author" placeholder="Enter author name" />
                </div>
                <div class="form-group">
                    <label class="khmer">ឆ្នាំបោះពុម្ភ</label>
                    <br />
                    <input class="form-control" type="number" name="publish_year" placeholder="Enter author name" />
                </div>
                <div class="form-group">
                    <label class="khmer">រូបភាព</label>
                    <label for="image" class="icon">
                        <img src="~/Content/Icon/ic_upload_img.svg" alt="upload img" />
                    </label>
                    <input id="image" class="file" type="file" name="image" />
                </div>
                <div class="form-group">
                    <label class="khmer">សៀវភៅ</label>
                    <label for="book" class="icon">
                        <img src="~/Content/Icon/ic_upload_book.svg" alt="upload book" />
                    </label>
                    <input id="book" class="file" type="file" name="book" />
                </div>
                <div class="form-group">
                    <label class="khmer">ពណ៌នា</label>
                    <br />
                    <textarea class="form-control" name="description" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


