﻿
@{
    ViewBag.Title = "SlideShow";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<BookStoreProject.Models.tblImage>
<link href="~/Content/slideshow.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="container">
    <div class="box1">
        <div class="box">
            <h3>បន្ថែមសៀវភៅ</h3>
            <div class="divider"></div>
            <form method="post" action="@Url.Action("AddSlide","Admin")" enctype="multipart/form-data">
                <div class="form-group">
                    <label>រូបភាព</label>
                    <label for="upload-file" class="icon">
                        <img src="~/Content/Icon/ic_upload_img.svg" alt="upload img" />
                    </label>
                    <input id="upload-file" class="file" type="file" name="upload-file" />
                    <br />
                    <div class="preview">
                        <img id="blah" src="~/Content/Image/preview1.jpg" alt="image" />
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="box3"></div>
    <div class="box2">
        <div class="box">
            <h3>តារាងរូបភាព</h3>
            <div class="divider"></div>
            <table>
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:60%">Image</th>
                    <th style="width:30%">Action</th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                        <tr>
                            <td style="text-align:center">@(i+0)</td>
                            <td style="padding-left: 8px">@Model[i].imgPath</td>
                            <td style="text-align: center; height: 32px; padding-left: 0;">
                                <span style="font-size: 0">
                                    <a href="@Url.Action("DeleteSlide", "Admin", new { id = Model[i].imgId})" style="font-size: 0">
                                        <img src="~/Content/Icon/ic_delete.svg" alt="Alternate Text" style="background-color: red" />
                                    </a>
                                </span>
                            </td>
                        </tr>
                }

            </table>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
        }
    }

    $("#upload-file").change(function(){
    readURL(this);
});
</script>