﻿
@{
    ViewBag.Title = "ViewBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/view-book.css" rel="stylesheet" />
@model List<BookStoreProject.Models.MyViewModel>
<div class="row">
    <div class="box">
        <h3>មើលសៀវភៅ</h3>
        <div class="divider"></div>
        <table>
            <tr>
                <th style="width:5%">ID</th>
                <th style="width:30%">Book Title</th>
                <th style="width:20%">Author</th>
                <th style="width:15%">Category</th>
                <th style="width:15%">Publish Year</th>
                <th style="width:15%">Action</th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Book.Book_title</td>
                    <td style="text-align:center">@Model[i].Book.Book_author</td>
                    <td style="text-align:center">@Model[i].Category.catName</td>
                    <td style="text-align:center">@Model[i].Book.Book_publish_year</td>
                    <td style="text-align: center; height: 32px; padding-left: 0;">
                        <span style="font-size: 0">
                            <a href="@Url.Action("EditBook", "Admin", new { id= Model[i].Book.Book_id})" style="font-size: 0">
                                <img src="~/Content/Icon/ic_edit.svg" alt="Alternate Text" style="background-color: #448aff" />
                            </a>
                            <a href="@Url.Action("DeleteBook", "Admin",new { id = Model[i].Book.Book_id })" style="font-size: 0">
                                <img src="~/Content/Icon/ic_delete.svg" alt="Alternate Text" style="background-color: red" />
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

