﻿@font-face {
	font-family: NiDAPreahvihear;
	src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
	font-family: Acumin-BdPro;
	src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
	font-family: NiDAAngkor;
	src: url('../fonts/NiDAAngkor.ttf') format('truetype');
}

#about.row {
	width: 55%;
	margin: auto;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}



#about img {
	width: 100%;
	height: auto;
	border-radius: 5px 0 0 5px;
}
#about .col-md-6{
	padding:0;
}
#about div.title{
	background-color: #fff;
	width: 100%;
	height: auto;
	padding: 18px 0 12px 0;
}

#about label {
	font-family: NiDAAngkor;
	font-size: 18px;
	line-height: 18px;
	color: #191919;
}
#about .brand{
	font-family:Acumin-BdPro;
	font-size: 20px;
	line-height: 22px;
	font-weight: 900;
	color: #191919;
}
#about div.divider {
	background-color: rgb(232, 232, 232);
	height: 1px;
}
#about div p{
	padding: 15px 0 0 0;
	font-family: NiDAPreahvihear;
	font-size: 13px;
	line-height: 25px;
	font-variant:normal;
	color: #7b7b7b;
	text-align:left;
}

#about .row .box{
    width: 70%;
    margin: auto;
}
#about .profile {
    padding: 15% 15% 0 15%;
    width: auto;
    height: auto
}

#about .profile img{

    width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 3px 5px rgba(25,25,25,0.2);
    border-radius: 50%;
}
#about h3 {
    font-family: NiDAAngkor;
    color: #191919;
    font-size: 16px;
    text-align: center;
}
#about .team{
    width: auto;
    height: auto;
    padding: 0;
}
#about .box{
    padding-bottom: 15px;
}
@media screen and (max-width: 414px) {
	#about.row {
		width: 90%;
	}
	#about img{
		border-radius: 5px 5px 0 0;
	}
	#view div.col-xs-12 {
		padding: 0;
	}
}

@media screen and (min-width: 414px) and (max-width: 864px){
	#about.row {
		width: 80%;
	}

	#about img {
		border-radius: 5px 5px 0 0;
	}

	#view div.col-xs-12 {
		padding: 0;
	}
}
@media screen and (min-width: 864px) and (max-width: 1024px) {
	#view.row {
		width: 90%;
	}
	#about img {
		border-radius: 5px 0 0 5px;
	}
}
