﻿@font-face {
	font-family: NiDAPreahvihear;
	src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
	font-family: Acumin-RPro;
	src: url('../fonts/Acumin-RPro.otf') format('opentype');
}
@font-face {
	font-family: Acumin-BdPro;
	src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
	font-family: NiDAAngkor;
	src: url('../fonts/NiDAAngkor.ttf') format('truetype');
}

.container{
	width: 80%;
	margin: auto;
}

.box1 {
	width: 40%;
	height: 170px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	float: left;

}
.box3 {
	width: 5%;
	height: 200px;
	float: left;
}
.box2 {
	width: 55%;
	height: auto;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	float: left;
}
.box{
	padding: 15px;
}
h3{
	font-family: NiDAAngkor;
	font-size: 18px;
	color: #191919;
	margin: 0;
}
input {
	height: 32px;
	font-family: Acumin-RPro;
	font-size: 16px;
	color: #7b7b7b;
	font-weight: 400;
	padding-left: 15px;
	width: 300px;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	outline-color: transparent;
	border: 1px solid #b7b7b7;
}
.btn-primary {
	float: right;
	background-color: #448aff;
	color: #fff;
	font-family: Acumin-RPro;
	font-size: 14px;
	padding: 10px 20px 10px 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-radius: 25px;
	border: none;
	outline-color: transparent;
}

.btn-primary:hover {
	background-color: #2d6edb;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
th {
	font-family: Acumin-BdPro;
	font-size: 16px;
	font-weight: 700;
	color: #b7b7b7;
	line-height: 18px;
	background-color: #0e0e21;
	padding: 10px 0 10px 0;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
tr {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #b7b7b7;
}
td {
	font-family: Acumin-RPro;
	font-size: 16px;
	font-weight: 500;
	color: #7b7b7b;
	padding: 10px 0 10px 0;
	margin: 3px 0 3px;
}
img {
	width: 22px;
	height: auto;
	border-radius: 5px;
	padding: 5px;
	margin-right: 7px;
	margin-left: 7px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

