﻿@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: Acumin-BdPro;
    src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

.row {
    margin-left: 0;
    margin-right: 0;
}

div.card {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
    transition: all 0.3s ease;
}

.overflow {
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

    .overflow:hover img.book-cover {
        transform: scale(1.08);
    }

    .overflow:hover div.overlay {
        opacity: 0.3;
    }

div.card:hover {
    box-shadow: 0 3px 5px rgba(25,25,25,0.2);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.container {
    padding: 15px 15px 8px 15px;
}

img.book-cover {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    transition: 0.4s ease;
}

p.book-title {
    vertical-align: middle;
    font-family: Acumin-BdPro;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #191919;
}

p.book-author {
    vertical-align: middle;
    font-family: Acumin-RPro;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
}

div.card-divider {
    border-bottom: 1px solid #c6c6c6;
    opacity: 0.5;
    margin-bottom: 8px;
}

.row{
    width: 90%;
    margin: auto;
}
.card-icon{
    height: auto;
}
span.ic-like,
span.ic-view{
    width: 18px !important;
}
.ic-like img{
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.ic-view img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-bottom: 3px;
}
span label.number-view ,
span label.number-like {
    vertical-align: middle;
    font-family: Acumin-BdPro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #191919;
    margin: 2px 10px 0 0;
}
.ic-download{
    padding: 0;
}
.ic-download img {
    width: 18px;
    height: 18px;
    padding: 0;
    z-index: 1;
}
/*.ic-download img:hover {
    background-image: url("Icon/ic_download_hover.svg") !important;
    width: 18px;
    height: 18px;
    padding: 0;
    z-index: 2;
}*/

@media screen and (max-width: 414px) {
    .col-xs-6 {
        padding: 0 3px 0 3px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .col-sm-6 {
        padding: 0 5px 0 5px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1070px) {
    .row {
        width: 100%;
        margin: auto;
    }

    .col-md-2.col-md-offset-1 {
        margin-left: 5%;
    }

    .col-md-2 {
        width: 18%;
        padding: 0 10px 0 10px;
    }
}
