﻿@font-face {
	font-family: NiDAPreahvihear;
	src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: Acumin-BdPro;
    src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
    font-family: NiDAAngkor;
    src: url('../fonts/NiDAAngkor.ttf') format('truetype');
}

#dashboard.container {
    width: 80%;
    margin: auto;
}

#dashboard .box1 {
    width: 300px;
    height: 250px;
    border-radius: 7px;
    background-color: #aa64b7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    float: left;
}

#dashboard .box3 {
    width: 5%;
    height: 200px;
    float: left;
}

#dashboard .box2 {
    width: 300px;
    height: 250px;
    border-radius: 7px;
    background-color: #f88644;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    float: left;
}

#dashboard .box {
    padding: 15px;
}
#dashboard img {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}
#dashboard label {
    font-family: NiDAPreahvihear;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    color: #fff;
}
#dashboard .divider {
    background-color: #fff !important;
    opacity: 0.5 !important;
    margin: 15px 0 50px 0 !important;
}
#dashboard label.number {
    font-family: Acumin-BdPro;
    font-weight: 800;
    font-size: 60px;
    color: #fff;
    vertical-align: middle;
    padding-top: 50px !important;
}
#dashboard label.unit {
    font-family: NiDAPreahvihear;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

#dashboard .box1:hover, .box2:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}