﻿@font-face {
	font-family: Acumin-RPro;
	src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: NiDAPreahvihear;
    src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

.footer {
    background-color: #0e0e21;
    height: 40px;
}

.container-fluid {
    display: inline;
}

span a.footer-brand img {
    height: 34px;
    width: auto;
    margin: 3px 10px 3px 70px;
    z-index: 1;
}
span a.footer-brand:hover {
    text-decoration: none;
}
span a.footer-brand img:hover{
    background-image: url("Icon/logo-blue.svg") !important;
    z-index: 2;
}

div .footer-divider {
    display: inline;
    padding: 3px 0 3px 1px;
    border-radius: 1px;
    background-color: #b7b7b7;
    margin-right: 15px;
}

span .footer-option {
    font-family: NiDAPreahvihear;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    color: rgb(164, 164, 164);
    padding-right: 15px;
}
span .footer-option:hover{
    text-decoration: none;
    color: #fff;
}

.copy-right{
    vertical-align: middle !important;
    text-align: center ;
    padding: 11px 70px 11px 0;
    color: #b7b7b7;
    font-family:Acumin-RPro;
    font-size: 14px;
    float: right !important;
}

@media screen and (max-width:767px) {
    span a.footer-brand img {
        margin: 3px 10px 3px 20px;
    }
    div .footer-divider {
        margin-right: 9px;
    }
    span .footer-option {
        font-size: 12px;
        padding-right: 10px;
    }
    .pull-right {
        padding: 11px 20px 11px 0;
        font-size: 12px;
    }
    .copy-right {
        padding: 11px 20px 11px 0;
    }
}
