﻿@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: NiDAPreahvihear;
    src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
    font-family: NiDAAngkor;
    src: url('../fonts/NiDAAngkor.ttf') format('truetype');
}

#in-book .box1 {
    padding: 15px;
}

#in-book.row {
    width: 650px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

#in-book .col-md-12 {
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    height: 750px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#in-book h3 {
    font-family: NiDAAngkor;
    font-size: 20px;
    color: #191919;
    margin: 0;
}

#in-book .khmer {
    font-family: NiDAPreahvihear;
    font-size: 15px;
    font-weight: 600;
    color: #191919;
}

#in-book .english {
    font-family: Acumin-RPro;
    font-size: 16px;
    color: #191919;
}

#in-book select.form-control {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    outline-color: transparent;
}

    #in-book select.form-control option {
        border-radius: 7px;
        outline-color: transparent;
    }

#in-book .form-group {
    margin-bottom: 10px;
}

#in-book input {
    height: 32px;
    border-radius: 5px;
    width: 605px;
    margin: 10px 0 10px 0;
    font-family: Acumin-RPro;
    font-size: 16px;
    color: #191919;
    outline-color: transparent;
    border: 1px solid #b7b7b7;
    padding-left: 15px;
    /*padding-right: -15px;*/
}

#in-book textarea {
    line-height: 32px;
    border-radius: 5px;
    width: 605px;
    margin: 10px 0 10px 0;
    font-family: NiDAPreahvihear;
    font-size: 15px;
    font-weight: 600;
    color: #191919;
    outline-color: transparent;
    border: 1px solid #b7b7b7;
    padding-left: 15px;
    /*padding-right: -15px;*/
}

#in-book .btn-primary {
    float: right;
    background-color: #448aff;
    color: #fff;
    font-family: Acumin-RPro;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 25px;
    border: none;
}

    #in-book .btn-primary:hover {
        background-color: #2d6edb;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    }

#in-book input[type="file"] {
    display: none;
}

#in-book input.file {
    height: 32px;
    width: auto;
    border: none;
}

#in-book label.icon img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    padding: 5px;
    /*border: 1px solid #b7b7b7;*/
    border-radius: 7px;
    margin-left: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

    #in-book label.icon img:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    }
#in-book select {
    height: 32px;
    border-radius: 5px;
    width: 622px;
    margin: 10px 0 10px 0;
    font-family: Acumin-RPro;
    font-size: 16px;
    color: #191919;
    outline-color: transparent;
    border: 1px solid #b7b7b7;
    padding-left: 15px;
}