﻿@font-face {
    font-family: NiDAPreahvihear;
    src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
    font-family: Acumin-BdPro;
    src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
    font-family: Acumin-RPro;
    src: url('../../fonts/Acumin-RPro.otf') format('opentype');
}

body {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding: 45px 0 55px 0;
}

.navbar-inverse {
    background-color: #0e0e21;
    border: none;
    min-height: 45px !important;
    max-height: 45px;
}

/*navbar-brand*/
.navbar-brand {
    padding: 0 20px 0 70px;
}

    .navbar-brand img {
        height: 45px;
        width: auto;
    }

/*menu*/
.navbar-inverse .navbar-nav li.navbar-divider {
    height: 24px;
    width: 2px;
    border-radius: 1px;
    background-color: #b7b7b7;
    margin: 10.5px 6px 10.5px 0;
}

.navbar-inverse .navbar-nav li {
    margin: 0;
}

    .navbar-inverse .navbar-nav li a {
        font-family: Acumin-RPro;
        font-weight: 400;
        font-size: 15px;
        margin: 7px 2px 8px 2px;
        vertical-align: middle;
        padding: 6px 14px 4px 14px;
        color: #b7b7b7;
    }

        .navbar-inverse .navbar-nav li a:hover {
            color: #448aff;
            background-color: rgba(68, 138, 255, 0.2);
            border-radius: 15px;
        }

/*icon right*/
.dropdown {
    display: inline-block;
    height: auto;
    width: auto;
}

.dropdown-menu {
    margin: 10px 0 0 0 !important;
    background-color: #090916 !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
    text-align: left !important;
}

    .dropdown-menu li a {
        margin: 7px 10px 8px 10px !important;
        font-family: NiDAPreahvihear !important;
        font-size: 13px !important;
        line-height: 18px !important;
    }

    .dropdown-menu li.divider {
        color: #b7b7b7;
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }

.navbar-right {
    margin: 0;
}

    .navbar-right li.pull-right {
        margin-right: 64px;
        padding: 0;
    }

    .navbar-right li a.navbar-icon,
    .navbar-right li button.navbar-icon {
        border: none;
        background-color: transparent;
        margin: 3.25px 0 3.25px 17px;
        padding: 6px 6px 6px 6px;
        display: inline-block !important;
        outline-color: transparent;
    }

        .navbar-right li a.navbar-icon:hover,
        .navbar-right li button.navbar-icon:hover {
            color: #448aff;
            background-color: rgba(68, 138, 255, 0.2);
            border-radius: 17px;
        }


.navbar-icon img {
    width: 22px;
    height: 22px;
}

/*toggle button*/
.navbar-toggle {
    outline-color: transparent;
    border: none;
}

div.navbar-header button.navbar-toggle:hover,
div.navbar-header button.navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse {
    background-color: #0e0e21;
    border: none;
    box-shadow: none;
}



.modal-title {
    font-family: NiDA Angkor;
    font-size: 22px;
    color: #191919;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #448aff;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
/*ANIMATED*/
.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus .icon-bar:nth-of-type(1) {
    transform: translate3d(0,3px,0);
}

.navbar-toggle.minus .icon-bar:nth-of-type(2) {
    transform: translate3d(0,3px,0);
}

.navbar-toggle.minus .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-3px,0);
}
/* END ANIMATED MINUS */

@media screen and (max-width:767px) {
    .navbar-inverse .navbar-nav li.navbar-divider {
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    .navbar-collapse {
        background-color: #090916;
    }

    .navbar-right {
        float: right;
    }

    .nav .navbar-nav .navbar-right li {
        float: right;
    }

    .navbar-toggle {
        float: left;
        margin: 6.5px 0 6.5px 10px;
    }


    .navbar-header {
        float: left;
        width: auto;
    }

    .navbar-collapse {
        clear: both;
        float: none;
    }

    .navbar-right li.pull-right {
        margin-right: 14px;
    }

    .navbar-brand {
        left: calc(50% - 71px);
        position: absolute;
        padding: 0 10px 0 10px;
    }

    .navbar-right li button.navbar-icon {
        margin: 5.25px 0 5.25px 5px;
        padding: 6px 6px 6px 6px;
    }

    .navbar-inverse .navbar-nav li {
        margin-left: 14px;
        margin-right: 14px;
    }

    .navbar-inverse {
        height: auto;
    }
}

@media (max-width:883px) {
    .navbar-right li.pull-right {
        margin-right: 14px;
    }

    .navbar-header {
        float: left;
        width: auto;
    }

    .navbar-brand {
        left: calc(50% - 71px);
        position: absolute;
        padding: 0 10px 0 10px;
    }

    .navbar-inverse .navbar-nav li.navbar-divider {
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    .navbar-collapse {
        background-color: #090916;
    }

    .navbar-nav {
        float: none !important;
    }

    .navbar-left {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }


    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-toggle {
        display: block;
        float: left;
        margin: 5.75px 0 5.75px 10px;
    }
}
