﻿@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: NiDAPreahvihear;
    src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

#sidebar .sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0e0e21;
    overflow-x: hidden;
    padding: 20px 15px 20px 15px;
}

#sidebar a.side-brand {
    /*padding: 0 !important;*/
    height: 50px;
    width: 100%;
    margin: 0 0 13px 0;
}

#sidebar .side-brand img {
    height: 50px;
    width: 100%;
    padding: 0;
    text-align: center;
}

#sidebar .divider {
    height: 1px;
    background-color: #b7b7b7;
    opacity: 0.7;
    margin: 7px 0 7px;
}
/* Style the sidenav links and the dropdown button */
#sidebar .sidenav a {
    width: 190px;
    font-family: NiDAPreahvihear;
    padding: 6px 15px 6px 15px;
    margin: 3px 0 3px 0;
    text-decoration: none;
    font-size: 16px;
    color: #b7b7b7;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

    #sidebar .sidenav a:hover {
        border-radius: 7px;
        color: #448aff;
        background-color: rgba(68, 138, 255, 0.2);
    }

a.dropdown-btn {
    margin-right: 15px;
    width: 220px;
}

#sidebar .dropdown-btn img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

#sidebar a.dropdown-btn label {
    font-family: 'Acumin Pro';
    font-size: 16px;
    font-weight: 700;
    height: 38px;
    color: #b7b7b7;
    vertical-align: middle;
    padding: 15px 0 15px 0;
}

a.dropdown-btn1 {
    margin-right: 15px;
    width: 220px;
}

#sidebar a.dropdown-btn1 label {
    font-family: NiDA Preahvihear;
    font-size: 16px;
    height: 38px;
    color: #b7b7b7;
    vertical-align: middle;
    padding: 15px 0 15px 0;
    padding-left: 15px;
}


/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #fff;
}

/* Main content */
.main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #fff;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
#sidebar .dropdown-container {
    display: none;
    background-color: #0e0e21;
}

    #sidebar .dropdown-container a {
        font-size: 14px;
        width: 163px;
        padding: 7px 0 7px 57px;
    }

#sidebar img.icon {
    width: 22px;
    height: 22px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#sidebar label.menu {
    font-family: NiDAPreahvihear;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 5px;
    color: #b7b7b7;
    margin-bottom: 10px;
}

#sidebar .active {
    color: #448aff;
    background-color: rgba(68, 138, 255, 0.4);
}

#sidebar a.english {
    font-family: Acumin-RPro;
    font-size: 15px;
    color: #b7b7b7;
}
