﻿@font-face {
	font-family: NiDAPreahvihear;
	src: url('../fonts/NiDAPreahvihear.ttf') format('truetype');
}

@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: Acumin-BdPro;
    src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

#view.row {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 10px 0 0 0;
}
#view div.col-md-5,
div.col-md-7 {
    padding: 0 10px 0 10px;
}
#view div.col-md-5 .box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
    transition: .6s ease;
}

#view div.description {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

#view div.divider {
    background-color: rgb(232, 232, 232);
    height: 1px;
}

#view h4.book-title {
    font-family: Acumin-BdPro;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #191919;
    margin: 34px 0 30px 0;
}

#view label {
    font-family: NiDAPreahvihear;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #7b7b7b;
    margin: 17px 15px 15px 0;
}

#view label.detail {
    font-family: Acumin-BdPro;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #191919;
    margin: 17px 0 15px 0;
}
#view .card-icon {
    margin: 15px 0 0 0;
    height: auto;
}

#view span.ic-like,
#view span.ic-view {
    width: 18px !important;
}

#view .ic-like img {
    width: 19px;
    height: 19px;
    margin-right: 3px;
    margin-top: 8px;
    margin-bottom: 10px;
}

#view .ic-view img {
    width: 19px;
    height: 19px;
    margin-right: 3px;
    margin-top: 8px;
    margin-bottom: 6px;
}

#view span label.number-view,
#view span label.number-like {
    vertical-align: middle;
    font-family: Acumin-BdPro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #191919;
    margin: 2px 10px 0 0;
}

#view .ic-download {
    padding: 0;
}

#view .pull-right.ic-download img {
        width: 18px;
        height: 18px;
        padding: 0;
        margin: 0 7px 0 0;
        z-index: 1;
}

#view .btn-primary {
    background-color: #448aff;
    font-family: Acumin-BdPro;
    font-weight: 700;
    padding: 0 25px 0 25px;
    height: 32px;
    border: none;
    border-radius: 16px;
    margin-top: 2px;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}
#view .btn-primary:hover {
    background-color: #4280e9;
    box-shadow: 0 3px 5px rgba(25,25,25,0.2);
}

#view .box {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#view .box div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #000;
}
#view div.box:hover div.overlay{
    opacity: 0.2;
}
#view div.box:hover img{
    transform: scale(1.03);
}

@media screen and (max-width: 414px) {
    #view.row {
        width: 90%;
    }
    #view div.col-xs-12 {
        padding: 10px 0 0 0;
    }
}
@media screen and (min-width: 414px) and (max-width: 768px) {
    #view.row {
        width: 70%;
    }
    #view div.col-xs-12 {
        padding: 10px 0 0 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #view.row{
        width: 90%;
    }
}