﻿@font-face {
    font-family: Acumin-RPro;
    src: url('../fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
    font-family: Acumin-BdPro;
    src: url('../fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
    font-family: NiDAAngkor;
    src: url('../fonts/NiDAAngkor.ttf') format('truetype');
}

.row {
    width: 80%;
    margin: auto;
}

.box {
    margin-top: 15px;
    width: 100%;
    height: auto;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 15px;
}

h3 {
    font-family: NiDAAngkor;
    font-size: 20px;
    color: #191919;
    margin: 0;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

th {
    font-family: Acumin-BdPro;
    font-size: 16px;
    font-weight: 700;
    color: #b7b7b7;
    line-height: 18px;
    background-color: #0e0e21;
    padding: 10px 0 10px 0;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

tr {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #b7b7b7;
}

td {
    font-family: Acumin-RPro;
    font-size: 16px;
    font-weight: 500;
    color: #7b7b7b;
    padding: 10px 0 10px 0;
    margin: 3px 0 3px;
}

img {
    width: 22px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    margin-right: 7px;
    margin-left: 7px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/*tr:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}*/
td {
    height: 50px;
    padding-left: 8px;
}
