﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" co ntent="width=device-width" />
    <title>@ViewBag.Title​​​​</title>
    <link href="~/Content/sidebar.css" rel="stylesheet" />

</head>
<body id="sidebar" style="background-color: rgb(244,244,244);">
    <div class="sidenav">
        <a href="@Url.Action("Dashboard","Admin")" class="side-brand">
            <img src="~/Content/Icon/logo.svg" alt="Alternate Text" />
        </a>
        <div class="divider"></div>
        <a href="#" class="dropdown-btn">
            <img src="~/Content/Image/profile.jpg" alt="Alternate Text" />
            <label>Account</label>
        </a>
        <div id="dropdown" class="dropdown-container">
            <a href="#">មើលគណនី</a>
            <a href="#">បន្ថែម​គណនី</a>
            <a href="#" class="english">Log out</a>
        </div>
        <div class="divider"></div>
        <a href="@Url.Action("Dashboard","Admin")" style="vertical-align: middle">
            <img class="icon" src="~/Content/Icon/ic_dashboard1.svg" alt="Dashboard" />
            <label class="menu">ផ្ទាំងគ្រប់គ្រង</label>
        </a>
        <a href="#" class="dropdown-btn1">
            <img class="icon" src="~/Content/Icon/ic_book1.svg" alt="Dashboard" />
            <label class="menu" style="font-family:'NiDAPreahvihear'">សៀវភៅ</label>
        </a>
        <div id="dropdown" class="dropdown-container">
            <a href='@Url.Action("ViewBook", "Admin")'>មើលសៀវភៅ</a>
            <a href='@Url.Action("InsertBook", "Admin")'>បន្ថែមសៀវភៅ</a>
        </div>
        <a href="@Url.Action("BookCategory","Admin")">
            <img class="icon" src="~/Content/Icon/ic_cate1.svg" alt="Dashboard" />
            <label class="menu">ប្រភេទសៀវភៅ</label>
        </a>
        <a href="@Url.Action("SlideShow","Admin")">
            <img class="icon" src="~/Content/Icon/ic_slide1.svg" alt="Dashboard" />
            <label class="menu">ស្លាយ</label>
        </a>
    </div>
    <!-- Page content -->
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
                document.getElementById("dropdown").style.transition = "all 2s";
            }
        });
    }
    var dropdown = document.getElementsByClassName("dropdown-btn1");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
                document.getElementById("dropdown").style.transition = "all 2s";
            }
        });
    }
</script>
