﻿<div class="card">

    <div class="overflow">
        <img class="book-cover img-responsive" src="~/Content/Image/9.jpg" alt="Book" />
        <div class="overlay"></div>
    </div>
    <div class="container">
        <p class="book-title">@Model[i].Book_title</p>
        <p class="book-author">Author Name</p>
        <div class="card-divider"></div>
        <div class="card-icon">
            <span class="ic-like">
                <img src="~/Content/Icon/ic_like1.svg" alt="like" />
                <label class="number-like">0</label>
            </span>
            <span class="ic-view">
                <img src="~/Content/Icon/ic_view1.svg" alt="view" />
                <label class="number-view">0</label>
            </span>
            <span class="pull-right ic-download">
                <img id="ic-download" src="~/Content/Icon/ic_download.svg" alt="download" />
            </span>
        </div>
    </div>
</div>
@*<script>
    $('#ic-download').hover(function () {
        $(this).attr('src', 'Icon/ic_like1.svg');
    }
    );
</script>*@