﻿<div class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <span>
            <a class="footer-brand" href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/Content/Icon/logo-white.svg")' 
                     onmouseover="this.src='@Url.Content("~/Content/Icon/logo-blue.svg")'"
                     onmouseout="this.src='@Url.Content("~/Content/Icon/logo-white.svg")'"/>
            </a>
        </span>
        <div class="footer-divider"></div>
        <span>
            <a class="footer-option" href='@Url.Action("About", "Home")' >អំពីយើង</a>
        </span>
        <div class="footer-divider"></div>
        <span>
            <a class="footer-option" href='@Url.Action("About", "Home")'>ទំនាក់ទំនង</a>
        </span>
        <span class="copy-right">All rights reserved. @DateTime.Now.Year</span>
    </div>
</div>
<script>
    @*function onHover() {
        
        document.getElementById("brand").src = '@Url.Content("~/Content/Icon/logo-blue.svg")';
    }*@
</script>