﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/myNavbar.css" rel="stylesheet" />
    <link href="~/Content/footer.css" rel="stylesheet" />
</head>
<body style="background-color: rgb(244,244,244); padding-bottom: 55px;">
    @{
        @*Html.RenderPartial("_Navbar");*@
        Html.RenderAction("Navbar", "Home");
    }
    @*modal*@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ស្វែងរក</h4>
                </div>
                <div class="modal-body">
                    <div class="search-container">
                        <form method="get" action="@Url.Action("Search", "Home")">
                            <input class="search-bar" id="search" type="text" placeholder="Search.." name="search">
                            <button type="submit" class="btn-search">Search</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @RenderBody()


    @{
        Html.RenderPartial("_Footer");
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
