﻿
@model List<BookStoreProject.Models.tblCategory>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="pull-left navbar-toggle minus collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand" href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/Content/Icon/logo.svg")' />
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="pull-right">
                @*<a class="navbar-icon" href='@Url.Action("About", "Home")'>
                        <img src='@Url.Content("~/Content/Icon/ic_search1.svg")' />
                    </a>*@
                <button type="button" class="navbar-icon" data-toggle="modal" data-target="#myModal">
                    <img src='@Url.Content("~/Content/Icon/ic_search1.svg")' />
                </button>
                <a class="navbar-icon" href='@Url.Action("About", "Home")'>
                    <img src='@Url.Content("~/Content/Icon/ic_about1.svg")' />
                </a>
            </li>
        </ul>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-divider"></li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li>@Html.ActionLink(Model[i].catName, "Category",new { category_id = Model[i].catId}, "Home")</li>
                }

                
            </ul>
        </div>
    </div>

</div>
